<nav class="main-header__nav">
  <ul class="main-header__item-list">
    <li class="main-header__item"><a class="active" href="/">Shop</a></li>
    <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
    <li class="main-header__item"><a href="/admin/about">Ravenue</a></li>
    <li class="main-header__item"><a href="/admin/money">BOOK NOTES</a></li>
    <li class="main-header__item"><a href="/admin/networth">Networth</a></li>
    <li class="main-header__item"><a href="/admin/business">Business - Center</a></li>
    <li class="main-header__item"><a href="/admin/Task">Task</a></li>
    <li class="main-header__item"><a href="/great/add-product">Status</a></li>
  </ul>
</nav>
