<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
      <div class="grid">
        <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
          <div class="rf-ccard-img-full-wrapper">
            <a href="/admin/networth">
              <img class="rf-ccard-img-full" src="/images/rug .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
            </a>
          </div>
        </div>
       
        <!-- Add more grid items here -->
      </div>
         <div>
            <h1 style="text-align: center;"><strong> <h1>Rug Rental Express </h1> </strong></h1>
         </div>
         <div>
            <hr style="width: 25%; margin: auto; border-color: #468B97;">
         </div>
         <br>
            <div style="text-align: center;">
                <p3 style="font-size: 18px;">
                  Rug Rental Express home page 
                </p3>
                <br>    
            </div>          
        </div>
        

      <br>
      <br>
      <strong>♻️List of Incomes: </strong>

     
      <br>


      <br>
      <br>
   
       
                <ul>
                    <strong> Check list complete  ✅ </strong>
                    <ul>
                      <li> ✅  Flyer</li>
                      <li> ✅  <a href="https://www.rugrentalexpress.com">RugrentalExpress website</a></li>
                    </ul>
                    <li>  ✅ update with phone and email</li>
                    <li>  ✅ change the landing photo </li>
                    <li>  ✅  spread cheat to record the customer phone , address, and plan </li>
                    <li>  ✅ sample rug avaliable for customer  </li>
                    <li>  ✅ buy measuring tape  </li>
                    </ul>
                    <br>
                    <br>
                    <strong> Check list not - complete  ❌ </strong>
                    <li>✅ <u>call compepetitor to see how much the price is</u></li>
                   
        <p2>
          
   
  
    </main>

