<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="toronto align-center">
    <div class="flex-wrapper">
      <div class="custom-grid">
        <div class="custom-card-img-half-wrapper" style="float: right;">
          <img src="" alt="Profile Picture" class="custom-card-img-half" style="margin-left: auto;">
        </div>
      </div>
      <div class="unit-copy-wrapper" style="font-family: Arial, sans-serif; text-align: justify;">
        <h2 class="headline">Impossible is Nothing</h2>
        <p>"Hello, I'm [Your Name], a lifelong "</p>
        <p>With expertise in [Your Field],  </p>
      </div>
    </div>
  </div>
  
    
  </div>

<div>
  <br>
  <br>
</div>






<div class="store-title">
  <h1>Store. <span class="highlight-text">The </span></h1>
  </div>
 
  

    <div>
      <br>
      <br>
    </div>
    
  




<div class="grid-container">


<div class="grid">
  <br>
  <br>
  <div class="grid">

    <br>

    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/Screenshot 2023-07-13 at 2.53.56 PM.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/thinking">
          <img class="rf-ccard-img-full" src="/images/Screenshot 2023-07-14 at 11.59.28 PM.png" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/Screenshot 2023-07-15 at 12.08.03 AM.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/Screenshot 2023-07-13 at 2.53.56 PM.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
 
</div>

  
  
</div>

</div>
</div>

<br>
<br>
</div>






<div class="store-title">
<h1>Store. <span class="highlight-text">“Never spend your money before you have earned it.” – </span></h1>
</div>



  <div>
    <br>
    <br>
  </div>
  





<div class="grid-container">


<div class="grid">
<br>
<br>
<div class="grid">

  <br>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/Task">
          <img class="rf-ccard-img-full" src="/images/money .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/networth">
        <img class="rf-ccard-img-full" src="/images/macbook.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
</div>

<div class="grid">
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/networth">
        <img class="rf-ccard-img-full" src="/images/businesses.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
  <!-- Add more grid items here -->
</div>
<div class="grid">
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/networth">
        <img class="rf-ccard-img-full" src="/images/plan.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
 
  <!-- Add more grid items here -->
</div>
<div class="grid">
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/networth">
        <img class="rf-ccard-img-full" src="/images/performance.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
 
  <!-- Add more grid items here -->
</div>
<div class="grid">
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/thinking">
        <img class="rf-ccard-img-full" src="/images/bank.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
  <!-- Add more grid items here -->
</div>


</div>



</div>

</div>
</div>


<br>
<br>
</div>





  <div class="grid">
  <br>
  <br>
  <div class="grid">
  
    <br>
    <div class="grid">
      <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
        <div class="rf-ccard-img-full-wrapper">
          <a href="/admin/networth">
            <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
          </a>
        </div>
      </div>
     
      <!-- Add more grid items here -->
    </div>
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/thinking">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  
  
  </div>
  
  
  
  </div>
  
  </div>
  </div>
  
  
  
  <br>
  <br>
  </div>
  


  <div>
    <br>
    <br>
  </div>







<div class="store-title">
<h1>Store. <span class="highlight-text">The </span></h1>
</div>



  <div>
    <br>
    <br>
  </div>
  





<div class="grid-container">


<div class="grid">
<br>
<br>
<div class="grid">

  <br>

  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/networth">
        <img class="rf-ccard-img-full" src="/images/Decsione.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
    <div class="rf-ccard-img-full-wrapper">
      <a href="/admin/thinking">
        <img class="rf-ccard-img-full" src="/images/education .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
      </a>
    </div>
  </div>
  <!-- Add more grid items here -->
</div>




</div>

</div>
</div>


<br>
<br>
</div>






<div class="store-title">
<h1>Business <span class="highlight-text"> / Career</span></h1>
</div>



  <div>
    <br>
    <br>
  </div>
  






</div>



</div>

</div>
</div>


<div>
  <br>
  <br>
 
</div>


<div class="grid-container">


  <div class="grid">
  <br>
  <br>
  <div class="grid">
  
    <br>
    <div class="grid">
      <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
        <div class="rf-ccard-img-full-wrapper">
          <a href="/admin/networth">
            <img class="rf-ccard-img-full" src="/images/rug .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
          </a>
        </div>
      </div>
     
      <!-- Add more grid items here -->
    </div>
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/seconds.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/mriiii.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/thinking">
          <img class="rf-ccard-img-full" src="/images/coming soon .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  
  
  </div>
  
  
  
  </div>
  
  </div>
  </div>
  
  
  
  <br>
  <br>
  </div>
  


  <div>
    <br>
    <br>
  </div>




<div class="grid-container">


  <div class="grid">
  <br>
  <br>
  <div class="grid">
  
    <br>
    <div class="grid">
      <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
        <div class="rf-ccard-img-full-wrapper">
          <a href="/admin/Task">
            <img class="rf-ccard-img-full" src="/images/monthly .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
          </a>
        </div>
      </div>
     
      <!-- Add more grid items here -->
    </div>
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/research.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
  </div>
  
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/health .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/arrow .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div> 
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/networth">
          <img class="rf-ccard-img-full" src="/images/arroww.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
   
    <!-- Add more grid items here -->
  </div>
  <div class="grid">
    <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
      <div class="rf-ccard-img-full-wrapper">
        <a href="/admin/thinking">
          <img class="rf-ccard-img-full" src="/images/healths.jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
        </a>
      </div>
    </div>
    <!-- Add more grid items here -->
  </div>
  
  
  </div>
  
  
  
  </div>
  
  </div>
  </div>
  
  
  <br>
  <br>
  </div>
  
  
  <div>
    <br>
    <br>
  </div>


  <div>
    <br>
    <br>
  </div>

  <div>
    <br>
    <br>
  </div>


  <div>
    <br>
    <br>
  </div>

  <div>
    <br>
    <br>
  </div>

  <div>
    <br>
    <br>
  </div>



  <div class="unit-copy-wrapper">
    <h2 class="headline">Impossible is Nothing</h2>
  </div>


<div>
  <div class="shop-content">
    <!-- Your shop content goes here -->
  </div>
  <div class="container">
    <div class="flex-wrapper">
    
      <div class="unit-copy-wrapper">
        <h2 class="headline">Impossible is Nothing</h2>
        <p>"Hello, I'm [Your Name], a lifelong learner passio."</p>
        <p>With expertise in [Your Field], I tackle</p>
      </div>
    </div>
  </div>
  
</div>
  
  
  <% include('includes/end.ejs') %>
</body>
</html>

