<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <div class="grid">
         <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
           <div class="rf-ccard-img-full-wrapper">
             <a href="/admin/Task">
               <img class="rf-ccard-img-full" src="/images/money .jpg" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
             </a>
           </div>
         </div>
       </div>
         <div>
            <h1 style="text-align: center;"><strong> <h1>Income : $6,250</h1> </strong></h1>
         </div>
         <div>
            <hr style="width: 25%; margin: auto; border-color: #468B97;">
         </div>
         <br>
            <div style="text-align: center;">
                <p3 style="font-size: 18px;">
                  Income refers to the money or financial resources that an individual, household, or entity receives from various sources in a given period. It is typically generated through employment, investments, business activities, or other means. Income is a key component of a person's financial well-being and is essential for meeting basic needs, fulfilling aspirations, and building wealth.
                </p3>
                <br>    
            </div>          
        </div>
        

      <br>
      <br>
      <strong>♻️List of Incomes: </strong>

     
      <br>


      <br>
      <br>
   
       
                <ul>
                    <strong>🚀 The Book in 3 Sentences </strong>
                    <li><u>✅ Tforce Final mile: </u>- Total Ravenue bi weekly = $1000:</u></li>
                    <ul>
                    <li> From saturday shift</li>
                    </ul>
                    <li>✅ <u>: </u>- Weekand ( 6 pm - 6 am )</u></li>
                    <ul> ⬆️ increase my income 12 × 15 = $1250 </ul>
                    <br>
                    <li>✅ DZ Driver position :</u>- Afternoon : 3 - 11</u></li>
                    <ul>
                     <li> ⬆️ increase my income $200 = $4000</li>
                    </ul>
                   
                </ul>
        <p2>
          
   
  
    </main>

    <div>
        <strong> 💡 My Toal income will be =  $1000 + $1250 + $4000 = $ $6,250 </strong>
    </div>
    <style>
        p {
          margin-left: 1in;
          margin-right: 2in;
        }
      </style>
      

  <h1>Total hours of work = 72 hr</h1>
  <h1>Total hours of sleep = $56 hr</h1>
  <h1>Total hours in week = $ 168 hr</h1>
  <h1>Total hours left to progress  = 168 - 72 + 56 = 40 hr</h1>
  
