<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('includes/navigation.ejs') %>

    <main>
        <div class="grid">
            <div class="james rf-ccard-content rf-ccard-content-withfullimg" onclick="redirectToPage('/admin/networth')">
              <div class="rf-ccard-img-full-wrapper">
                <a href="/admin/thinking">
                  <img class="rf-ccard-img-full" src="/images/Screenshot 2023-07-14 at 11.59.28 PM.png" alt="15-inch MacBook Air, partially open, circular feet, strikingly thin.">
                </a>
              </div>
            </div>
        <div>
         <div>
            <h1 style="text-align: center;"><strong>📚 Thinking in Systems - Summary with Notes and Highlights</strong></h1>
         </div>
         <div>
            <h2 style="text-align: center;">Book</h2>
            <hr style="width: 25%; margin: auto; border-color: #468B97;">
         </div>
         <br>
            <div style="text-align: center;">
                <p3 style="font-size: 18px;">
                    A practical guide to understanding the fundamental principles<br>
                    of systems. Including highlights, recommendations, and a full<br>
                    summary of the book.
                </p3>
                <br>    
            </div>          
        </div>
        

      <br>
      <br>
      <strong>♻️Actionalble advice : </strong>

       <div>
        <br>
         <p3> For Business proposal use this book as a checklist and theral assement of viablity of bussines model</p3>
       </div>
      <br>


      <br>
      <br>
      <br>
      <br>
     
       
                <ul>
                    <strong>🚀 The Book in 3 Sentences </strong>
                    <li><u>✅ Balancing Feedback: </u>- The world is full of goal-seeking feedback loops:</u></li>
                    <ul>
                    <li>The presence of a feedback mechanism doesn’t necessarily mean that the mechanism works well. The feedback mechanism may not be strong enough to bring the stock to the desired level</li>
                    </ul>
                    <br>
                    <li>✅ <u>Look Beyond the Players to the Rules of the Game:</u></li>
                    <ul>Some interconnections in systems are actual physi- cal flows, such as the water in the tree’s trunk or the students progressing through a university. Many inter- connections are flows of information—signals that go to decision points or action points within a system.</ul>
                    <br>
                    <li>✅ Systems and Us:</li>
                    <ul>
                        <li>
                            When a systems thinker encounters a problem, the first thing he or she does is look for data, time graphs, the history of the system
                        </li>
                        <li>
                            That’s because long-term behavior provides clues to the underlying system struc- ture.
                        </li>
                        <li>
                            The structure of a system is its interlocking stocks, flows, and feed- back loops 
                        </li>
                    </ul>
                   
                </ul>
        <p2>
          
   
  
    </main>
    <strong>📒 Summary  + Notes </strong>
    <div>
        <br>
    </div>

    <div>
        <strong> 💡 Look Beyond the Players to the Rules of the Game</strong>
    </div>
    <style>
        p {
          margin-left: 1in;
          margin-right: 2in;
        }
      </style>
      
      <p>1. The elements of a system are often the easiest parts to notice because many of them are visible, tangible things. In the context of a university system, these elements include buildings, students, professors, administrators, libraries, books, and computers. These physical components form important elements of the system.</p>
      
      <p>2. However, understanding a system goes beyond its elements. It involves recognizing the interconnections that exist within the system. In the university system, interconnections encompass standards for admission, requirements for degrees, examinations and grades, budgets and money flows, gossip, and most importantly, the communication of knowledge. These interconnections facilitate the functioning and purpose of the system.</p>
      
      <p>3. Learning about a system's elements is often easier compared to understanding its interconnections. Some interconnections are tangible, such as the physical flows within a system, like water in a tree's trunk or students progressing through a university. Many interconnections, however, are flows of information. These informational interconnections involve signals that go to decision points or action points within the system.</p>
      

  <h1>Rubric for System Thinking</h1>
  
